.base_layout_wrapper {
  display: flex;
  justify-content: center;
  padding-top: 128px;
}

.base_layout_wrapper > div {
  width: 92%;
}

@media screen and (max-width: 1020px) {
  .base_layout_wrapper {
    padding-top: 64px;
  }
}
